# 노무사 지인 상담 채널 URL (카카오톡 채널/오픈채팅/전화 등)
# 미설정 시 LaborConsultCTA 컴포넌트가 자동으로 숨겨짐
# 예시:
#   카카오톡 채널: https://pf.kakao.com/_xxxxx
#   오픈채팅:     https://open.kakao.com/o/xxxxx
#   전화:         tel:010-0000-0000
NEXT_PUBLIC_LABOR_CONSULT_URL=
